[IRC]
channels=#shabren,#cubelime
nickname = Red`Bot
port = 6667
server = irc.freenode.net
command_prefix = `

[General]
owner = Sha`Bren
database_path = log.sqlite
source_url = https://github.com/ShaBren/RedBot

[Reddit]
username = RedTickBot
password = <Redacted>
useragent = RedTickBot IRC bot by /u/ShaBren
